.team {
  color: white;
  font-size: 2rem;
  &__table {
    color: white;
    border-collapse: collapse;
    width: 80vw;
    margin: 0.5rem;
    th,
    td {
      //border: 1px solid white;
      padding: 20px;
      text-align: left;
    }

    th {
      background-color: transparent;
    }

    tr:nth-child(even) {
      background-color: transparent;
    }
  }
  &__form {
    width: 80vw;
  }
  &__input {
    width: 15vw;
    height: 1.5rem;
  }
}
