.dashboard {
  display: flex;
  width: 100vw;
  &__sidebar {
    width: 5vw;
    height: 100vh;
    background-color: #333;
    color: #fff;
  }
  &__container {
    // grid-column: span 8;
    // grid-row: span 2;
    display: flex;
    justify-content: flex-start;
    margin-right: 0;
    // &--big {
    //   width: 95vw;
    // }
    &--header {
      margin-top: 25px;
      padding: 0 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &--title {
      color: white;
    }
    &--h5 {
      font-weight: 600;
      color: white;
    }
    &--h3 {
      font-weight: bold;
      color: white;
    }
    &--download {
      color: white;
      font-size: 26px;
      background: none;
      border: none;
      cursor: pointer;
    }
  }
  &__chart {
    width: 28vw;
    display: flex;
    flex-direction: column;
  }
  &__middlenCol {
    width: 28vw;
  }
  &__icons {
    // width: 28vw;
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    margin-bottom: 5rem;
  }
  &__icon {
    color: white;
  }
  &__building {
    // width: 28vw;
  }
  &__img {
    width: 28vw;
  }
  &__alarm {
    color: white;
    margin-top: 4rem;
  }
  &__other {
    width: 25.5vw;
  }
}
