$Black: #323232;
$Blue: #0095FF;
$Sliver: #AFAFAF;
$White: #FFFFFF;
$DarkBlack: #000000;
$DarkBlue: #0065AD;
$Mercury: #E1E1E1;
$Alabaster:#FAFAFA;
$Green:#1c715c;

:export{
    DarkBlue:$DarkBlue;
    Sliver:$Sliver;
    White:$White;
    Green:$Green;
}