.table-container {
  max-height: 300px;
  overflow-y: auto;
  color: white;
  table {
    width: 100%;
    border-collapse: collapse;
    th,
    td {
      border: 1px solid #ccc;
      padding: 8px;
      text-align: left;
    }
    th {
      position: sticky;
      z-index: 10;
    }
  }
}
